<article class='media'>
    <figure class='media-left'>
        <p class='image is-64x64'>
            <img src-'https://bulma.io/images/placeholders/128x128.png'>
        </p>
    </figure>
    <div class='media-content'>
        <div class='content'>
            <p>
                <strong>{{username}}</strong> <small>{{time}}</small>
                <br>
                {{OPcomment}}
                <br>
                <small><a>Like</a> · <a>Dislike</a> · <a>Reply</a> · <a>Comments:</a> {{commentsNum}}</small>
            </p>
        </div>
    </div>
</article>