<section class='hero is-fullheight'>
    <div class='hero-head'>
        <nav class='navbar' role='navigation'>
            <a class='navbar-burger' role='button'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class='navbar-menu'>
                <div class='navbar-start'>
                    <a class='navbar-item'>Home</a>
                    <a class='navbar-item'>About</a>
                    <a class='navbar-item'>Report an Issue</a>
                </div>

                <div class='navbar-end'>
                    <a class='button is-primary'>
                        <strong>Sign Up</strong>
                    </a>
                    <a class='button is-light'>Log in</a>
                </div>
            </div>
        </nav>
    </div>

    <div class='hero-head'>
        <div class='tile is-ancestor'>
            <div class='tile is-parent is-vertical'>
                <div class='tile is-child box'>
                    <p>Forum Boards</p>
                    <nav class='level'>
                        <p class='level-item has-text-centered'>
                            <a class='link is-info'>General</a>
                        </p>
                        <p class='level-item has-text-centered'>
                            <a class='link is-info'>General</a>
                        </p>
                        <p class='level-item has-text-centered'>
                            <a class='link is-info'>General</a>
                        </p>
                        <p class='level-item has-text-centered'>
                            <a class='link is-info'>General</a>
                        </p>
                        <p class='level-item has-text-centered'>
                            <a class='link is-info'>General</a>
                        </p>
                        <p class='level-item has-text-centered'>
                            <a class='link is-info'>General</a>
                        </p>
                    </nav>
                </div>

                <div class='tile is-child'>
                    {{> media}}
                </div>
            </div>
        </div>
    </div>

    <div class='hero-foot'></div>

</section>